@model Football.Entities.Country

@{
    ViewData["Title"] = "Edit club";
}

<div class="text-center">
    <h2 class="text-white">Edytuj klub</h2>
    <form asp-action="SaveClub" asp-controller="Country" method="post" class="my-form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" name="CountryID" value="@Model.CountryID" asp-for="CountryID" />
        <input type="hidden" name="CoachID" value="@Model.CoachID" asp-for="CoachID" />
        <div class="form-group">
            <label asp-for="CountryName" class="control-label"></label>
            <input asp-for="CountryName" class="form-control" />
            <span asp-validation-for="CountryName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Group" class="control-label"></label>
            <select asp-for="Group" class="form-control">
                <option value="">Brak</option>
                @foreach (var group in Enum.GetValues(typeof(Football.Entities.Group)))
                {
                    <option value="@group">@group</option>
                }
            </select>
            <span asp-validation-for="Group" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Coach.Firstname" class="control-label"></label>
            <input asp-for="Coach.Firstname" class="form-control" />
            <span asp-validation-for="Coach.Firstname" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Coach.Lastname" class="control-label"></label>
            <input asp-for="Coach.Lastname" class="form-control" />
            <span asp-validation-for="Coach.Lastname" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="btn-group">
                <button style="margin-right: 15px" type="button" class="btn btn-secondary" onclick="goBack()">Wstecz</button>
                <button type="submit" class="btn btn-primary">Dodaj</button>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
