@model Football.Entities.Player

@{
    ViewData["Title"] = "EditClubForm";
}

<div class="text-center">
    <h2 class="text-white">Edytuj zawodnika</h2>
    <form asp-action="SavePlayer" asp-controller="Player" method="post" class="my-form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" name="PlayerID" asp-for="PlayerID" />
        <input type="hidden" name="CountryID" asp-for="CountryID" />
        <div class="form-group">
            <label asp-for="PlayerFullName" class="control-label"></label>
            <input type="text" id="PlayerFullName" name="PlayerFullName" class="form-control" asp-for="PlayerFullName" />
            <span asp-validation-for="PlayerFullName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Position" class="control-label"></label>
            <select id="Position" name="Position" class="form-control" asp-for="Position">
                @foreach (var position in Enum.GetValues(typeof(Football.Entities.PositionType)))
                {
                    <option value="@position">@position</option>
                }
            </select>
            <span asp-validation-for="Position" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Age" class="control-label"></label>
            <input type="number" id="Age" name="Age" class="form-control" asp-for="Age" min="15" />
            <span asp-validation-for="Age" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Club" class="control-label"></label>
            <input type="text" id="Club" name="Club" class="form-control" asp-for="Club" />
            <span asp-validation-for="Club" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="btn-group">
                <button style="margin-right: 15px" type="button" class="btn btn-secondary" onclick="goBack()">Wstecz</button>
                <button type="submit" class="btn btn-primary">Edytuj</button>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
