.my-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-top: 5px;
}

    .my-form .form-group {
        margin-bottom: 15px;
    }

    .my-form label {
        font-weight: bold;
    }

    .my-form input[type="text"],
    .my-form input[type="number"],
    .my-form select {
        width: 100%;
        border: 1px solid #ced4da;
        border-radius: 5px;
        padding: 10px;
    }

    .my-form button[type="submit"] {
        display: block;
        width: 100%;
        padding: 10px;
        font-weight: bold;
        text-align: center;
        border: none;
        border-radius: 5px;
        background-color: #007bff;
        color: #fff;
        cursor: pointer;
    }

        .my-form button[type="submit"]:hover {
            background-color: #0069d9;
        }
